.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.navbar {
  margin-bottom: -56px;
  z-index: 100;
}
.bg-dark {
  background: transparent !important;
  transition: 250ms ease-in-out;
}
.bg-dark.scrolled {
  background: #343a40 !important;
}

@media (max-width: 576px) {
  #carousel {
    display: none !important;
  }
  .bg-dark {
    background: #343a40 !important;
  }

  .nav-item {
    text-align: center;
  }
  .nav-item:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block;
    margin: 0 auto;
    width: 40%;
    padding-top: 20px;
    border-bottom: 1px solid #454d55;
  }

  body {
    margin-top: 88px;
  }
}
